<div class="full-container" fxLayout="row">
  <div class="leftgrid" fxFlex="40">
    <div class="store-container" fxLayout="column" fxLayoutAlign="start">
      <div class="store-card" *ngFor="let store of stores">
        <div class="store-details" fxFlex="50">
          <h2>{{ store.name }}</h2>
          <p>Type: {{ store.type }}</p>
          <p>Location: {{ store.location }}</p>
          <p class="address">Address: {{ store.address }}</p>
        </div>
        <div class="store-image" fxFlex="50" routerLink="/watch">
          <img src="{{ store.image }}" alt="Watch Image" width="100%" height="100%" />
        </div>
      </div>
    </div>
  </div>
  <div class="rightgrid" fxFlex="60" routerLink="/watch">
   
  </div>
</div>
