<div class="fullscreen-container">
  <mat-stepper linear>
    <!-- Step 1: Shipping Address -->
    <mat-step [stepControl]="shippingAddressForm">
      <ng-template matStepLabel>Shipping Address</ng-template>

      <mat-card>
        <mat-card-title>Shipping Details</mat-card-title>
        <br />
        <mat-card-content>
          <form [formGroup]="shippingAddressForm">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Name"
                formControlName="name"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="No.15,new street,....."
                formControlName="address"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="phoneNumber"
                formControlName="phoneNumber"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="ZipCode"
                formControlName="zipCode"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <!-- Step 2: Order Summary -->
    <div class="orderSummery">
      <mat-step>
        <ng-template matStepLabel>Order Summary</ng-template>
        <p
          style="
            font-family: Times, Times New Roman, serif;
            font-weight: 900;
            font-size: 30px;
            margin-bottom: 50px;
          "
        >
          Review your order details and confirm.
        </p>

        <div fxLayout="row" fxLayout.sm="column">
          <div fxFlex="30" fxFlex.sm="50">
            <!-- First column with smaller width -->
            <!-- <div style="background-color: lightblue; padding: 20px"> -->
            <div class="delivery-address" *ngIf="shippingAddressForm">
              <h3 class="address-title">Delivery Address</h3>
              <div class="address-details">
                <p>
                  <strong style="margin-right: 58px">Name:</strong>
                  {{ shippingAddressForm.get("name")?.value || "N/A" }}
                </p>
                <p>
                  <strong style="margin-right: 42px">Address:</strong>
                  {{ shippingAddressForm.get("address")?.value || "N/A" }}
                </p>
                <p>
                  <strong style="margin-right: 3px">phoneNumber:</strong>
                  {{ shippingAddressForm.get("phoneNumber")?.value || "N/A" }}
                </p>

                <p>
                  <strong style="margin-right: 41px">ZipCode:</strong>
                  {{ shippingAddressForm.get("zipCode")?.value || "N/A" }}
                </p>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <!-- Display order summary information here -->
          <div fxFlex="70" fxFlex.sm="50">
            <!-- Second column with larger width -->
            <!-- <div style="background-color: lightcoral; padding: 20px"> -->
            <div class="card-container" *ngIf="items && items.length > 0">
              <div *ngFor="let item of items">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title-group>
                      <mat-card-title>Watch: {{ item.brand }}</mat-card-title>
                      <mat-card-subtitle
                        >Price: {{ item.price }}<br />
                        Quantity: {{ item.quantity }}</mat-card-subtitle
                      >
                      <img mat-card-sm-image [src]="item.imageUrl" />
                    </mat-card-title-group>
                  </mat-card-header>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <br />
        <mat-divider></mat-divider>
        <br />

        <div fxLayout="row">
          <!-- First column -->
          <div fxFlex="60">
            <div class="discount-img"></div>
          </div>

          <!-- Second column -->
          <div fxFlex="40" fxLayoutGap="30px">
            <div class="totalPrice" [formGroup]="couponForm">
              <mat-form-field class="coupon-field">
                <input
                  matInput
                  placeholder="Enter coupon code"
                  formControlName="couponCode"
                />
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="applyCoupon()">
                Apply
              </button>
              <div class="amountDetails">
                <p><strong> Total MRP:</strong>₹{{ totalPrice }}</p>
                <!-- <p>Discount on MRP: </p> -->
                <mat-divider></mat-divider>
                <p *ngIf="coupon">
                  <strong>Coupon Discount:</strong>₹{{ totalPrice * 0.2 }}
                </p>
                <mat-divider></mat-divider>
                <p>
                  <strong>Total Amount:</strong>₹{{ couponPrice || totalPrice }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

        <div *ngIf="!(items && items.length > 0)">
          <p>No items in the order.</p>
        </div>
      </mat-step>
    </div>

    <!-- Step 3: Payment Method -->
    <mat-step [stepControl]="paymentMethodForm">
      <ng-template matStepLabel>Payment Method</ng-template>
      <mat-card>
        <mat-card-title>Payment Details</mat-card-title>
        <mat-card-content>
          <form [formGroup]="paymentMethodForm">
            <mat-radio-group formControlName="paymentMethod">
              <mat-radio-button value="credit card"
                >Credit Card</mat-radio-button
              >
              <mat-radio-button value="debit card">Debit Card</mat-radio-button>
              <mat-radio-button value="upi">UPI</mat-radio-button>
            </mat-radio-group>
            <div
              *ngIf="paymentMethodForm.value.paymentMethod === 'credit card'"
            >
              <mat-form-field>
                <input
                  matInput
                  placeholder="**** **** **** ****"
                  formControlName="creditCardNumber"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="MM/YY"
                  formControlName="expirationDate"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="CVV"
                  formControlName="cvv"
                  required
                />
              </mat-form-field>
            </div>
            <div *ngIf="paymentMethodForm.value.paymentMethod === 'debit card'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="**** **** **** ****"
                  formControlName="debitCardNumber"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="MM/YY"
                  formControlName="expirationDate"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="CVV"
                  formControlName="cvv"
                  required
                />
              </mat-form-field>
            </div>
            <div *ngIf="paymentMethodForm.value.paymentMethod === 'upi'">
              <mat-form-field>
                <input
                  matInput
                  placeholder="UPI-id"
                  formControlName="upi"
                  required
                />
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Back</button>

        <button
          mat-button
          [disabled]="!paymentMethodForm.valid"
          (click)="placeOrder()"
        >
          Place Order
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<!-- <div class="discount-img">'po;il,kujmhybgfv</div> -->
