<footer class="footer mat-elevation-z2">
  <div class="footer-content">
    <div class="footer-section">
      <h2>About Us</h2>
      <p>
        "Discover Time Twirl Watches: where tradition meets innovation. Explore
        our range of elegant timepieces, perfect for every style. Join us on our
        horological journey today!"
      </p>
    </div>
    <div class="footer-section">
      <h2>Quick Links</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h2>Contact Us</h2>
      <p>Email: timetwirl&#64;gmail.com</p>
      <p>Phone: 987654234</p>
    </div>
    <div class="footer-section">
      <h2>Follow Us</h2>
      <ul class="social-icons">
        <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
        <li><a href="#"><mat-icon>twitter</mat-icon></a></li>
        <li><a href="#"><mat-icon>instagram</mat-icon></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; 2024 timetwirl. All rights reserved.</span>
  </div>
</footer>
