<div class="container">
  

  <div class="noWishlist" *ngIf="wishlist.length === 0">
    <p>No items in the wishlist.</p>
  </div>
  
  <mat-grid-list cols="3" rowHeight="350px">
    
    <mat-grid-tile *ngFor="let item of wishlist">
      <!-- <h1 style="text-align: center">My Wishlist</h1> -->
      <mat-card class="wishlist-item">
        <mat-card-header>
          <div class="header-content">
            <mat-card-title>{{ item.brand }}</mat-card-title>
            <div class="spacer"></div>
            <mat-card-actions class="text-right">
              <button mat-icon-button  (click)="removeItem(item)" matTooltip="Remove from Wishlist">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </mat-card-header>
        <div class="img-container">
          <!-- New div for image container -->
          <img
            class="img"
            mat-card-image
            [src]="item.imageUrl"
            alt="Item Image"
            width="120px"
            height="120px"
          />
        </div>
        <mat-card-content>
          <p>{{ item.name }}</p>
          <p>Price: {{ item.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="cart-button" (click)="addToCart(item)">Add to Cart</button>
          <button class="buynow-button" (click)="buynow(item)">Buy Now</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
