/* Cart Container */
.cart-container {
  padding: 20px;
  width: 100%;
  background-color: Gainsboro;
  align-items: center;
}

.cart-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Table Styles */
table {
  background-color:WhiteSmoke;
  width: 200px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  text-align: center;
  background-color: #f0f0f0;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  border: none;
  background-color: #f0f0f0;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Total Container */
.total {
  // width: 40%;
  // background-color: #007bff;
  margin-top: 20px;
  padding: 20px;
  text-align: right;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  margin-left: 500px;
}

.total h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.total h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.checkout-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

img {
  text-align: center;
}

.leftgrid {
  background-image: url("C:/Users/MohanrajS/Angular-demo/ecommerce/src/assets/cart1.png");
  background-size: cover;
  height: 500px;
}
.rightgrid {
  background-image: url("C:/Users/MohanrajS/Angular-demo/ecommerce/src/assets/cart2.png");
  height: 500px;
  background-size: cover;
}

p {
  text-align: center;
  padding: 186px;
  font-size: 39px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
strong{
  margin-right: 89px;
}
